.articleTitle {
  width: 70%;
}
.articleTitle .title {
  padding-bottom: 1rem;
  font-weight: bold;
  color: var(--color-gray-900);
  font-size: 3vw;
}

@media only screen and (max-width: 992px) {
  .articleTitle {
    width: 100%;
  }
  .articleTitle p {
    text-align: center;
  }
}
