.card {
  padding: 2rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.5rem;
}

.card p {
  padding: 0;
}

.card span {
  display: grid;
  place-content: center;
}

.card svg {
  font-size: larger;
  color: var(--color-blue-1);
}

.readMore {
  font-size: larger;
  font-weight: bold;
  color: var(--color-blue-1);
}

.title {
  font-size: larger;
}

@media only screen and (max-width: 768px) {
  .title,
  .readMore {
    font-size: medium;
  }
  .card {
    padding: 1rem;
  }
}
