.card {
  margin-top: 2rem;
  padding: 2rem 3rem;
}

.card p {
  line-height: 3;
}

.commentHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}

.commentH {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.userCircle {
  display: grid;
  place-content: center;
  width: 50px;
  height: 50px;
}

.userCircle svg {
  font-size: 3rem;
  color: var(--color-gray-400);
}

.reply {
  padding-right: 1rem;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: row;
}

.reply p {
  font-size: 0.75rem;
  color: var(--color-gray-500);
}

.replySvg,
.editSvg,
.delSvg {
  padding-inline-start: 1rem;
}
.replySvg svg,
.editSvg svg,
.delSvg svg {
  width: 20px;
  height: 20px;
}

.editSvg svg {
  color: var(--color-blue-1);
}

.delSvg svg {
  color: rgba(255, 0, 0, 0.652);
}

.comment {
  color: var(--color-gray-600);
  margin-bottom: 2rem;
}

.replyOperations {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
}

@media only screen and (max-width: 768px) {
  .replySvg svg,
  .editSvg svg,
  .delSvg svg {
    width: 15px;
    height: 15px;
  }
}

@media only screen and (max-width: 768px) {
  .card {
    margin-top: 1rem;
    padding: 1rem 1rem;
  }
}
