.booksHeader {
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.title,
.description {
  color: var(--color-blue-1);
}

.title {
  padding-top: 5rem;
  font-size: 1.5rem;
  font-weight: bolder;
}

.description {
  font-size: 1rem;
  text-align: center;
  line-height: 8vh;
}

@media only screen and (max-width: 768px) {
  .title {
    padding-top: 1rem;
    text-align: center;
  }
}
