.card {
  border-radius: 10px;
}

.div:hover figure {
  transform: translateY(-0.5rem);
  transition-duration: 0.3s;
}

.div:hover,
.div2:hover {
  cursor: pointer;
}
.div:hover h2,
.div2:hover h2 {
  color: var(--color-blue-1);
}

.div:hover {
  box-shadow: 1px 1px 10px 2px var(--color-gray-200);
}

.div2:hover figure {
  opacity: 0.8;
}

@media only screen and (max-width: 768px) {
  .div:hover figure {
    transform: none;
  }
}
